:root{
    --verde-agua-claro:rgb(189, 245, 242);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--verde-agua-claro);
    margin: 0;
    padding: 0;
}

header{
    background-color:rgb(20, 201, 201);
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
}

section{
    background-color:azure;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.1);
    width: 300px;
}

h1{
    text-align: center;
    color: black;
}

label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="number"]{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

input[type="number"]:focus{
    background-color: rgb(135, 233, 233);
    border-color: rgb(89, 113, 111);
}

button{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color:rgb(90, 237, 225);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(18, 157, 157);
}

.resultado{
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(70, 247, 247);
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

footer.erro{
    background-color:rgb(0, 141, 154);
    color: white;
}