:root{
    --beje: rgb(250, 243, 200);
    --roxo: rgb(201, 32, 235);
    --roxo-escuro: rgb(181, 23, 229);
    --roxo-claro: rgb(237, 70, 249);
    --lilas: rgb(235, 110, 249);
    --lilas-claro: rgb(225, 127, 250);
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(246, 182, 243);
    margin: 0;
    padding:0;
}

header{
    background-color: var(--lilas);
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

section{
    background-color:var(--beje);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1{
    text-align: center;
    color:blueviolet;
}

label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="number"]{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius:8px;
    border: 1px solid #ccc;
    outline: none;
    transition:0.3s;
}

input[type="number"]:focus{
    background-color:var(--lilas-claro);
    border-color:var(--roxo-claro);
}

button{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color:rgb(234, 118, 250);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border:none;
    cursor: pointer;
}

button:hover{
    background-color:var(--roxo);
}

.resultado{
    background-color: white;
    border-radius: 8px;
    margin-top: 15px;
    padding: 10px;
}

footer{
    background-color:var(--beje);
    color: black;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    height: 10vh;
    display: flex;
    transition:0.3s;
}

footer.erro{
    background-color:var(--roxo-escuro);
    color: white;
}